#high-scores {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 120%;
}

#time {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 120%;
}

.start {
    text-align: center;
}

.main-content {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    max-width: 500px;
}

/* if not current screen, set notCurrent as class */
.notCurrent {
    display: none;
}

/* replace notCurrent with current to show contents */
.current {
    display: contents;
}

.inline-button, .horizontal-button {
    padding: 10px;
    background-color: rebeccapurple;
    margin-top: 5px;
    width: 350px;
    font-size: 130%;
    border: royalblue solid 2px;
}

/* styling for each answer to a question */
.inline-button {
    /* display block makes them vertically aligned instead of horizontal */
    display: block;
}

/* styling for buttons on scorePage */
.horizontal-button {
    width: auto;
    padding: 5px;
}